@use 'sass:color';

$color-body-bg: #f9f7f5;
$color-text: #444;
$color-heading-text: #35495e;

$color-link-text: #39a275;
$color-link-text-active: $color-text;

$color-input-border: color.adjust($color-heading-text, $lightness: 50%);

$color-button-bg: $color-link-text;
$color-button-disabled-bg: color.adjust(color.adjust($color-button-bg, $saturation: -20%), $lightness: -10%);
$color-button-text: white;
