%typography-small {
  @extend %font-content;
  font-size: 0.875rem;
}

%typography-medium {
  @extend %font-content;
  font-size: 1rem;
}

%typography-large {
  @extend %font-heading;
  font-size: 1.25rem;
}
