# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
**/node_modules/

# Build outputs & Cache
**/dist/
**/.vite/
**/*.tsbuildinfo

# Backend specific
backend/config/keys/
backend/data/
backend/server
backend/generate

# Pnpm store
.pnpm-store/

# Misc
tmp/
